<div class="recipe-top-meta" data-id="{{ entity.id }}">
    <div class="col-md-1">
        <a href="javascript:;" class="check"><i class="fa fa-check"></i></a>
    </div>
    <label>{{ entity.title }}</label>
    <a href="javascript:;" class="delt pull-left"><i class="fa fa-remove"></i></a>
</div>