{% extends 'FEBundle::base2.html.twig' %}
{% block title %}{{ homepage.seo.title }}{% endblock %}

{% block content %}
    {#<div class="tp-banner-holder">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>#}

<div class="content has_slider">
    <div class="content_inner  ">
        <div class="q_slider">
            <div class="q_slider_inner">
                <div id="qode-home-slider-5" class="carousel slide  full_screen  q_auto_start" data-slide_animation="6000"  data-parallax="yes" style="">
                    <div class="qode_slider_preloader">
                        <div class="ajax_loader">
                            <div class="ajax_loader_1"><div class="pulse"></div></div>
                        </div>
                    </div>
                    <div class="carousel-inner " data-start="transform: translateY(0px);" data-1440="transform: translateY(-500px);">
                        {{ render(controller('CMSBundle:FrontEnd/Banner:Banner' , {'placment' : 1 })) }}
                    </div>
                    <ol class="carousel-indicators" data-start="opacity: 1;" data-300="opacity:0;">
                        <li data-target="#qode-home-slider-5" data-slide-to="0" class="active"></li>
                        <li data-target="#qode-home-slider-5" data-slide-to="1"></li>
                        <li data-target="#qode-home-slider-5" data-slide-to="2"></li>
                    </ol>
                    <a class="left carousel-control" href="#qode-home-slider-5" data-slide="prev" data-start="opacity: 0.35;" data-300="opacity:0;">
                        <span class="prev_nav" ><i class="fa fa-angle-left"></i></span>
                        <span class="thumb_holder" ><span class="thumb_top clearfix"><span class="arrow_left"><i class="fa fa-angle-left"></i></span><span class="numbers"><span class="prev"></span> / 3</span></span><span class="img_outer"><span class="img"></span></span></span></a>
                    <a class="right carousel-control" href="#qode-home-slider-5" data-slide="next" data-start="opacity: 0.35;" data-300="opacity:0;"><span class="next_nav" ><i class="fa fa-angle-right"></i></span></a>
                </div>			
            </div>
        </div>
    </div>
</div>

{% endblock %}
